<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>rate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">rate</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/home']">Home</ion-button>
  <ion-button [routerLink]="['/contact']">Contact</ion-button>
  <ion-button [routerLink]="['/rate']">Rate Us</ion-button>
</ion-content>
